body {
    font-family: 'Inter';
    font-style: normal;
    color: #191720;
    overflow-x: hidden;
}
.nav_mid{
    padding-left: 30%;
    padding-right: 20%;
}
.button1 {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
}
.button2 {
    background-color: #E94339;
    color: white;
    border: none;
    width: 115px;
    height: 56px;
    border-radius: 45px;
}

.navtext{
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    ul li{
        margin-right: 10%;
    }
}

.div1text {
font-weight: 700;
font-size: 61px;
line-height: 65px;
}
.div1text2 {
font-weight: 400;
font-size: 18px;
line-height: 30px;
letter-spacing: -0.01em;
}

.div1search {
    input {

    width: 400px;
    height: 64px;

    background: #F7F7F7;
    border-radius: 56px;

    border-color: white;

    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    letter-spacing: 0.005em;

    color: #AFAFAF;

    align-items: flex-start;
    padding: 15px 20px;
    gap: 8px;
    border: none;

    }
    button {
    align-items: flex-start;
    padding: 15px 20px;
    gap: 8px;

    background: #FF5331;
    border-radius: 56px;
    border: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: white;
    }
}
.div1img img {
    width: 100%;
}

.div2text {
    h1 {
    font-weight: 600;
    font-size: 46px;
    line-height: 58px;
    letter-spacing: -0.01em;
    text-transform: capitalize;
    .nmbr {
        color: #FF5331;
    }
    }
    p {

    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.01em;
    }
}

.div2card {
    padding: 10%;
    margin-left: 10%;

    background: #FAFAFA;
    border-radius: 28px;
    img {
        margin-top: 50%;
        width: 100%;
        
    }
    h5 {
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;

    letter-spacing: -0.01em;


    }
}

.div2right {
    background: #FAFAFA;
    border-radius: 28px;
    p {
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: -0.01em;
    }
    .deals {
        color: #E94339;
    }
    .free {
        color: green;
    }
}

.div3text {
    .comma {
        font-size: 66px;
    }
    p {

    font-weight: 400;
    font-size: 23px;
    line-height: 34px;

    color: #494949;

    }
}

.div4 {
    h1 {

    font-weight: 600;
    font-size: 46px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.005em;

    }
}

.div4card {
    padding: 10%;
    margin-left: 10%;
    background: #FAFAFA;
    border-radius: 28px;
    h6 {
/* 01 */


width: 50px;
height: 53px;
left: 0.94px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 43.8292px;
line-height: 53px;
/* identical to box height */
text-align: center;
letter-spacing: -0.01em;

color: #FF5331;
    }
    img {
        width: 50%;
        
    }
    h5 {

    font-weight: 500;
    font-size: 24px;
    line-height: 30px;

    }
}

.client {
    h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    }
    p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    }
}

.feedback {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    margin-left: 13%;
    margin-right: 17%;
}

.feedbackname {
    .name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    text-align: center;
    letter-spacing: -0.01em;
    }
    .address {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #616161;
        }
}

.subscribe {
    background: #FFEFEC;
    .substext {
        h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 58px;
    /* identical to box height, or 126% */
    letter-spacing: 0.005em;

    color: #000000;
        }
        p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    letter-spacing: 0.005em;

    color: #000000;

        }
    }
}

.footer {
background: #000000;
    img {
        width: 25%;
    }
    .footerul {
        h6 {
            color: white;
            margin-left: 17%;
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
        }
        ul {
            list-style: none;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 34px;
            color: #AAA7B1;

        }
    }
    .copyright {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        word-spacing: 2%;
        color: #B5B2B2;
    }
    .footerlast {
        p{
            margin-left: 7%;
                font-weight: 400;
                font-size: 16px;
                line-height: 27px;
                color: #B5B2B2;
        }
    }
}